.show {
    &-all-product {
        .col-xl-12 {
            padding: 0;
        }

        &-pagination {
            display: flex;
            width: 100%;
            justify-content: center;

            .css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
                background-color: #f63 !important;
                outline: none;
                pointer-events: none;
            }
            .css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root:focus {
                outline: none;
            }
        }
    }
    &-all-product-header {
        display: flex;
        position: relative;
        height: 3.5rem;
        width: 100%;
        margin: 32px 0;

        h1 {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1;
            letter-spacing: 0.01em;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%);
            transform: translate(-50%);
            font-weight: 500;
            color: #fff;
            padding: 1.125rem 1.25rem;
            display: inline-block;
            background-color: #ee4d2d;
            margin: auto;
            z-index: 1;
            border-radius: 0.625rem;
            text-transform: capitalize;
        }
    }
    &-all-product-header-border {
        position: absolute;
        border-top: 1px dotted rgba(0, 0, 0, 0.26);
        width: 100%;
        left: 0;
        top: 50%;
        margin: 0;
    }
}
