$color-primary-business: #3e56ef;

.navbar {
    &-back {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 32px 16px 24px;
        position: sticky;
        height: 56px;
        top: 32px;
        justify-content: flex-start;

        &-text {
            font-family: Inter;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            display: flex;
            align-items: center;
            text-align: center;
            margin: 0;
            color: $color-primary-business;
            &-icon__back {
                margin-right: 6px;
                color: $color-primary-business;
                svg {
                    font-size: 16px;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }
    &-back-text {
    }
    &-logo {
    }
    &-button {
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: #ffffff;
            padding: 8px 32px 8px 32px;
            color: $color-primary-business;
        }
    }

    .logo {
        &-img {
        }
    }

    &-progress {
        height: 6px;
        background: $color-primary-business;
        position: absolute;
        left: 0px;
        top: 100%;
    }
}

.navbar.navbar-business {
    box-shadow: 0px 10px 15px -10px rgba(62, 86, 238, 0.2);
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 111px;
    height: 120px;
    left: 0px;
    top: 0px;
}
